執行環境:
conda version : 23.5.0
conda-build version : 3.21.8
python version : 3.9.12
cuda 11.8
torch 2.0.0+cu118

pip install PyQt5
pip install pywin32
pip install scipy
pip install matplotlib
pip install pillow
pip install opencv-python
pip install numpy
pip install sympy
pip install tqdm
